/* styles.css */
body {
    background-color: #181211;
    color: #D0C4C2;
}

.main-div-wrapper {
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #251E1D;
    border-radius: 32px;
}

.sub-name-wrapper {
    margin: 1rem;
}

.fui-btn-portfolio {
    width: 130px;
    height: 16px;
    background-color: #FFB4AC;
    color: #690007;
    padding: 16px;
    margin: 16px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.fui-btn-fb {
    width: 170px;
    height: 16px;
    background-color: #FFB4AC;
    color: #690007;
    padding: 16px;
    margin: 16px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-fit {
    height: fit-content;
}

.h-auto {
    height: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.m-3 {
    margin: 0.75rem/* 12px */;
}

/* styles.css */
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/opensans_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('fonts/opensans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.opensans-bold {
    font-family: 'Open Sans Bold', sans-serif;
}

.opensans-regular {
    font-family: 'Open Sans Regular', sans-serif;
}

.circular-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    overflow: hidden;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}